<!doctype html>
{% block html %}<html lang="en">{% endblock html %}
  <head>
      <link rel="shortcut icon" href="{{ baseUrl }}img/favicon.ico">
      <title>Pensacola-Tallahassee Cursillo</title>
      <link href='http://fonts.googleapis.com/css?family=Playfair+Display|Lora|Philosopher|Old+Standard+TT' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="{{ baseUrl }}css/style.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      {% block head %}
      {% endblock head %}
  </head>
  <body>
    <header>
        <div id="name">
          <h3>Cursillo</h3>
          <p>Diocese of Pensacola - Tallahassee</p>
        </div>
        <div class="mobile-nav nav">
          <div class="menu-btn" id="menu-btn">
             <div></div>
             <span></span>
             <span></span>
             <span></span>
          </div>

          <div id="responsive-menu">
              <ul>
              <a href="{{ siteUrl('/home')}}"><li>Home</li></a>
              <a href="{{ siteUrl('/ultreya')}}"><li>Ultreya</li></a>
              <a href="{{ siteUrl('/secretariat')}}"><li>Secretariat</li></a>
              <a href="{{ siteUrl('/school-of-leaders')}}"><li>School Of Leaders</li></a>
              <a href="{{ siteUrl('/pre-cursillo')}}"><li>Pre-Cursillo</li></a>
              <a href="{{ siteUrl('/three-day')}}"><li>Three Day</li></a>
              <a href="{{ siteUrl('/fourth-day')}}"><li>Fourth Day</li></a>
              <a href="{{ siteUrl('/about-us')}}"><li>About-Us</li></a>
              </ul>
          </div>
        </div>

        <div id="menu" class="nav">
          <ul>
            <a href="{{ siteUrl('/home')}}"><li>Home</li></a>
              <li class="show-more-nav">Events
                <ul>
                  <a href="{{ siteUrl('/ultreya')}}"><li>Ultreya</li></a>
                  <a href="{{ siteUrl('/school-of-leaders')}}"><li>School Of Leaders</li></a>
                  <a href="{{ siteUrl('/pre-cursillo')}}"><li>Pre-Cursillo</li></a>
                  <a href="{{ siteUrl('/three-day')}}"><li>Three Day</li></a>
                  <a href="{{ siteUrl('/fourth-day')}}"><li>Fourth Day</li></a>
                </ul>
              </li>
              <li class="show-more-nav">Contact
                <ul>
                  <a href="{{ siteUrl('/secretariat')}}"><li>Secretariat</li></a>
                  <a href="{{ siteUrl('/about-us')}}"><li>About Us</li></a>
                </ul>
              </li>
          </ul>
        </div>
      </header>
    <main>
      {% block content %}
      <p>
        This is example text.
      </p>
      {% endblock content %}
    </main>
    {% block footer %}
    <footer>
        {# <a href="http://facebook.com/cursillo" class="social" id="facebook-icon"><img src="{{ baseUrl }}img/facebook-icon.svg"></a> #}
        <a href="mailto:ptcursillistas@gmail.com" class="social" id="email-icon"><img src="{{ baseUrl }}img/mail-icon.svg">ptcursillistas@gmail.com</a>
        <a href="{{ siteUrl('/by-laws')}}" class="social">By-Laws</a>
        <a href="{{ siteUrl('/palanca')}}" class="social">Palanca</a>
        <a href="http://mountmckinney.com" target="_blank" id="mount_logo">Website by: &copy; {{"now"|date("Y")}} Mount McKinney</a>
    </footer>
    {% endblock footer %}
    <script src="http://code.jquery.com/jquery-1.11.0.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ baseUrl }}js/app.js"></script>
  </body>
</html>
